In [2]:
import os, glob
import pandas as pd
import psycopg2
import sql_queries

In [5]:
conn = psycopg2.connect(
    host='127.0.0.1', dbname='mydb', user='postgres', password=open('password.txt','r').read()
    )
cur = conn.cursor()

In [16]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root, '*json'))
        for f in files:
            if 'checkpoint' in os.path.abspath(f):
                break
            else:
                all_files.append(os.path.abspath(f).replace('\\', '/'))

    return all_files

In [51]:
song_files = get_files('data/song_data')

df = pd.read_json(song_files[0], lines=True)
df = df.reindex(sorted(df.columns), axis=1)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,1,SOMZWCG12A8C13C480,I Didn't Mean To,0

## songs Table

Extract Data for Songs Table
* Select columns for song ID, title, artist ID, year, and duration
* Use df.values to select just the values from the dataframe
* Index to select the first (only) record in the dataframe
* Convert the array to a list and set it to song_data

In [52]:
artist_id, artist_latitude, artist_location, artist_longitude, artist_name, duration, num_songs, song_id, title, year = df.reset_index(drop=True).values[0]

song_data = [song_id, title, artist_id, year, duration]

### Insert Record into Song Table
Implement the song_table_insert query in sql_queries.py and run the cell below to insert a record for this song into the songs table. Remember to run create_tables.py before running the cell below to ensure you've created/resetted the songs table in the sparkify database.